@font-face {
    src: url('fonts/Roboto-Regular.ttf');
}

.root {
    bg: #f8f8ff;
    dark: #141414;
    outlines: #7d7d7d;
    selected: #7575ff;
    grid-light: #f8f8ff;
    grid-dark: #141414;
}

#menuPane {
    -fx-background-color: bg;
    -fx-padding: 30;
    -fx-hgap: 30;
    -fx-vgap: 30;
    -fx-orientation: horizontal;
    -fx-column-halignment: left;
    -fx-row-valignment: top;
}

.puzzlePic {
    -fx-fill: chartreuse;
}

.puzzleText {
    -fx-font: 1em Roboto;
    -fx-fill: dark;
}

.puzzleItem {
    -fx-spacing: 10;
    -fx-alignment: center;
}

#tileGrid {
    -fx-background-color: bg;
    -fx-spacing: 30;
    -fx-alignment: center;
}

#gridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#rowHints > .rowHint {
    -fx-pref-height: 30;
    -fx-spacing: 10;
    -fx-alignment: center-right;
    -fx-padding: 0 10 0 10;
}

#colHints > .colHint {
    -fx-pref-width: 30;
    -fx-spacing: 10;
    -fx-alignment: bottom-center;
    -fx-padding: 10 0 10 0;
}

.hintText {
    -fx-font: 1em Roboto;
}

#gridPane {
    -fx-alignment: top-left;
}

.tile {
    -fx-border-color: outlines;
    -fx-border-width: 1;
}

.allBorder {
    -fx-border-color: dark;
}

.topBotLeft {
    -fx-border-color: dark outlines dark dark;
}

.topBotRight {
    -fx-border-color: dark dark dark outlines;
}

.topBot {
    -fx-border-color: dark outlines dark outlines;
}

.topLeftRight {
    -fx-border-color: dark dark outlines dark;
}

.topLeft {
    -fx-border-color: dark outlines outlines dark;
}

.topRight {
    -fx-border-color: dark dark outlines outlines;
}

.top {
    -fx-border-color: dark outlines outlines outlines;
}

.botLeftRight {
    -fx-border-color: outlines dark dark dark;
}

.botLeft {
    -fx-border-color: outlines outlines dark dark;
}

.botRight {
    -fx-border-color: outlines dark dark outlines;
}

.bot {
    -fx-border-color: outlines outlines dark outlines;
}

.leftRight {
    -fx-border-color: outlines dark outlines dark;
}

.left {
    -fx-border-color: outlines outlines outlines dark;
}

.right {
    -fx-border-color: outlines dark outlines outlines;
}

.unknown {
    -fx-background-color: grid-light;
}

.filled {
    -fx-background-color: grid-dark;
}

.empty {
    -fx-background-color: grid-light;
}

#buttonBox {
    -fx-spacing: 20;
    -fx-alignment: center;
}

.tileButton {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-background-radius: 25;
    -fx-background-color: bg;
    -fx-border-radius: 25;
    -fx-border-width: 5;
    -fx-border-color: dark;
    -fx-content-display: graphic-only;
}

.tileButton:selected {
    -fx-background-color: selected;
}